body {
  margin: 0;
  padding: 0;
  background-image: radial-gradient(#9dbeff, #fed9ff);
  background-repeat: no-repeat;
  height: 100%;
  width: auto;
}

.app {
  text-align: center;
}

.questionBox{
  border: double 3px #63b7af;
  font-size: 48px;
}

button {
  text-decoration: none;
}

.ansrow button {
  border: none;
  font-size: x-large;
  background-color: transparent;
}

/*.choices{
  border:none;
  font-size: large;
}*/

.ansrow button:hover{
  color:#ee8572;
  font-size: xxx-large;
}

.gray {
  color: gray;
  border: none;
}

.green {
  color: green;
  border: none;
}

.black {
  color: black;
}